@model CoreApparelManagerPortal.Models.FeedBacks

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>Details of FeedBack</h2>
<div class="row">
    <div class="col-lg-4">
        &nbsp;
    </div>
    <div class="col-lg-4">

        <div class="form-group">
            <label for="Message">Message</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.Message)
            </div>

            <br />
            <label for="CustomerId">Customer ID</label>
            <div class="form-control">
                @Html.DisplayFor(model => model.CustomerId)
            </div>
            @*<input type="text" class="form-control" asp-for="BrandName" />*@
        </div>
        
        <a asp-controller="feedback" asp-action="Index"><button type="submit" class="btn btn-primary"> BackToList</button></a>

    </div>
    <div class="col-lg-4">
        &nbsp;
    </div>
</div>


