
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form name="myform"  class="form-signin" method="post" asp-controller="home" asp-action="EditPassword"  onsubmit="return validateForm()">

    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                    <a asp-controller="Home" asp-action="EditPassword" class="list-group-item list-group-item-action">Edit Password</a>
                    <a asp-action="CustomerHistory" asp-controller="Home" class="list-group-item list-group-item-action">View Order History</a>
                    <a asp-controller="Home" asp-action="EditProfile" class="list-group-item list-group-item-action">View Profile</a>
                    <a asp-controller="Home" asp-action="Feedback" class="list-group-item list-group-item-action">FeedBack</a>
                    <a asp-controller="Home" asp-action="logout" class="list-group-item list-group-item-action">LogOut</a>
                </div>
            </div>

            <div class="col-md-9 ">

                <label>Current Password</label>
                <input type="hidden" name="oldpassword1" value="@ViewBag.pas">

                <div class="form-group pass_show">
                    <input type="password" name="oldpassword" class="form-control" placeholder="old Password" required autofocus>
                </div>
                <label>New Password</label>
                <div class="form-group pass_show">
                    <input type="password" name="newpassword" class="form-control" placeholder="New password" required>

                </div>

                <label>Confirm Password</label>
                <div class="form-group pass_show">
                    <input type="password" name="newpassword1" class="form-control" placeholder="confirmpassword" required>

                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
            </div>
            <script>
                function validateForm() {
                    var x = document.forms["myform"]["oldpassword"].value;
                    var x3 = document.forms["myform"]["oldpassword1"].value;
                    if (x != x3) {
                        alert("Old Password must be Same");
                        return false;
                    }
                    var x1 = document.forms["myform"]["newpassword"].value;
                    var x2 = document.forms["myform"]["newpassword1"].value;
                    if (x1 != x2) {
                        alert("Entered Password Does not Match");
                        return false;
                    }
                }
            </script>
        </div>
    </div>
</form>
<style>
    .pass_show {
        position: relative
    }

        .pass_show .ptxt {
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            color: #f36c01;
            margin-top: -10px;
            cursor: pointer;
            transition: .3s ease all;
        }

            .pass_show .ptxt:hover {
                color: #333333;
            }
</style>
<script>
        $(document).ready(function () {
            $('.pass_show').append('<span class="ptxt">Show</span>');
        });


        $(document).on('click', '.pass_show .ptxt', function () {

            $(this).text($(this).text() == "Show" ? "Hide" : "Show");

            $(this).prev().attr('type', function (index, attr) { return attr == 'password' ? 'text' : 'password'; });

        });

</script>