
@{
    ViewData["Title"] = "EditPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>EditPassword</h2>
<form class="form-signin" method="post" asp-controller="home" asp-action="EditPassword">
<div class="form-label-group">
    <input type="text" name="oldpassword" class="form-control" placeholder="old Password" required autofocus>
    <label for="username" class="sr-only">Old PassWord</label>
</div>
<br />
<div class="form-label-group">
    <input type="text" name="newpassword" class="form-control" placeholder="New password" required>
    <label for="password" class="sr-only">New Password</label>
</div>
<br />
<div class="custom-control custom-checkbox mb-3">
    <input type="password" name="newpassword1" class="form-control" placeholder="confirmpassword" required>
    <label class="custom-control-label" for="password">confirm password</label>
</div>
<br />
<button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
</form>

