
@{
    ViewData["Title"] = "EditPassword";
    <link rel="stylesheet" href="~/css/EditPassword.css" />
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<html>
<head>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="list-group ">
                    <a href="#" class="list-group-item list-group-item-action active">Dashboard</a>
                    <a asp-controller="Home" asp-action="EditPassword" class="list-group-item list-group-item-action">Edit Password</a>
                    <a asp-controller="Home" asp-action="EditProfile" class="list-group-item list-group-item-action">View Profile</a>
                    <a asp-controller="Home" asp-action="orderDetails" class="list-group-item list-group-item-action">Order History</a>
                    <a asp-controller="Home" asp-action="logout" class="list-group-item list-group-item-action">LogOut</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Edit Your Password</h4>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pass_show">
                                <form class="form-signin" method="post" asp-controller="home" asp-action="EditPassword">
                                    <div class="form-label-group">
                                        <input type="text" name="oldpassword" class="form-control" placeholder="old Password" required autofocus>
                                        <label for="username" class="sr-only">Old PassWord</label>
                                    </div>
                                    <br />
                                    <div class="form-label-group">
                                        <input type="text" name="newpassword" class="form-control" placeholder="New password" required>
                                        <label for="password" class="sr-only">New Password</label>
                                    </div>
                                    <br />
                                    <div class="form-label-group">
                                        <input type="text" name="newpassword" class="form-control" placeholder="Confirm password" required>
                                        <label for="password" class="sr-only">Confirm Password</label>
                                    </div>               
                                    <br />
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
</html>



