
@{
    ViewData["Title"] = "Invalid";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Password Entered by you is Incorrect.</h2>
<h4>Kindly enter the password</h4>

<a asp-controller="home" asp-action="index" class="btn btn-secondary">Home</a>
