@model coreOnlineApparelStoreAdminPortal.Models.Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Creating New Category</h2>
@*<form asp-action="Create" asp-controller="Category">
    
    <input type="hidden" asp-for="CategoryId" />
    <br />
    <label asp-for="CategoryName"></label>
    <input type="text" asp-for="CategoryName" />
    <br />
    <label asp-for="CategoryDescription"></label>
    <input type="text" asp-for="CategoryName" />
    <br />
    <input type="submit" value="Create" />
</form>*@
<div class="row">
    <div class="col-lg-4">
        &nbsp;
    </div>
    <div class="col-lg-4">
        <form asp-action="Create" asp-controller="Category">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <br />
            <div class="form-group">
                <label for="CategoryName">CategoryName</label>
                <input type="text" class="form-control" placeholder="Enter Name" asp-for="CategoryName">
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CategoryDescription">CategoryDescription</label>
                <input type="text" class="form-control" placeholder="Description" asp-for="CategoryDescription">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>


        </form>
        <br />
        <a asp-controller="Category" asp-action="Index"><button type="submit" class="btn btn-primary">BackToList</button></a>

    </div>
    <div class="col-lg-4">
        &nbsp;
    </div>
</div>





