
@{
    ViewData["Title"] = "Goback";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Your Cart Is Empty</h2>
<h4>Kindly Add Any Product Into Your Cart</h4>
<img src="~/images/download.png"/>
<br/>
<div class="text-center">
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Home</a>
</div>


